.footer {
    display: grid;
    background-color: #f1f1f1;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.f-content{
    display: grid;
    gap: 2vh;
    text-align: center;
}

.f-c-header {

    font-size: 2em;
    font-weight: 300;
}

.f-c-text{
    text-align: center;
}

.f-c-links{
    display: flex;
    list-style: none;
    justify-self: center;
    gap: 2vw;
    width: 20%;
}

.f-c-l-l-img{
    width: 100%;
}
